<h2> <%= @review.title %> </h2>

<p>Genre: <%= @review.genre %></p>
<p>Review: <%= @review.content %></p>

<%# if @review.user_id == current_user.id %>
<form action="/reviews/<%=@review.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete This Review">
</form>

  <%#end %>
<br>

<a href='/reviews/<%=@review.id%>/edit'>Edit this Movie Review</a>
<br>
<a href='/reviews/new'>Review Another Movie</a>
<br>
<a href='/reviews'>See all of the reviews</a>
<br>
<a href='/logout' class="btn btn-light">Log Out</a>